body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainNav {
  padding-left: 4%;
  padding-right: 4%;
}
.footNav {
  padding-left: 4%;
  padding-right: 4%;
}

main {
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  margin-bottom: 30px;
}

.spacer {
  height: 70px;
  display: block;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.setFilterContainer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.allSetsDataTable th {
  position: sticky;
  top: 56px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 1;
  table-layout: fixed;
}

.clickable {
  user-select: none;
  cursor: pointer !important;
}

.submitSearch {
  height: 38px;
  width: 70px;
  background-color: #2684ff;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: none;
}

.remove {
  cursor: pointer;
}

.spinner {
  margin: 0 auto;
}

.setCardTableHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.selectColumn {
  top: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.chartLink {
  padding-right: 10px;
}

.grayed {
  color: gray;
  opacity: 0.8;
}
